spring:
  application:
    name: rewards-api

  webflux:
    base-path: /

  datasource:
    url: jdbc:h2:mem:rewards
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: create-drop
    defer-datasource-initialization: true
    show-sql: false

  h2:
    console:
      enabled: true
      path: /h2-console

server:
  port: 8081
